/* BASE */
:root {
  --black-purple: #2e2d31;
  --darkest-purple: #220b5e;
  --dark-purple: #3b1d98;
  --purple: #513779;
  --light-purple: #7654b4;
  --lightest-purple: #967ecb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header-box-1 {
  display: grid;
  background-color: var(--black-purple);
  color: #fff;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.header-title {
  align-self: center;
  justify-self: center;
  font-size: 4rem;
}

.header-box-2 {
  background-color: var(--purple);
}

.header-box-3 {
  background-color: var(--light-purple);
}

.header-box-4 {
  background-color: var(--lightest-purple);
}

.header-box-5 {
  background-color: var(--darkest-purple);
}

/* HERO */

.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  position: relative;
}

.hero-image {
  z-index: 1;
  width: 100vw;
}

.hero-title {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  z-index: 2;
}

/* MAIN */

.main-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-box-1 {
  background-color: var(--light-purple);
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.main-box-2 {
  background-color: var(--purple);
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.main-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkest-purple);
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; */
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;

  .main-title {
    color: #fff;
    font-size: 2rem;
  }
}

.main-box-4 {
  background-color: var(--black-purple);
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; */
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
